/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* basics
---------------------------------- */

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --green: #084152;
  --black: #242629;
  --red: #f25f4c;
  --yellow: #EEB45A;
  --white: #fff;

  --fs-micro: 16px;
  --fs-milli: 18px;
  --fs-base: 24px;
  --fs-kilo: 40px;
  --fs-mega: 90px;
 }

body {
  background: var(--green);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.6;
  color: var(--white);
}

 /* header 
---------------------------------- */

.navbar {
  background-color:var(--green);
  display: block;
  text-align: center;
}

.navbar-brand {
  margin: 0 auto;
  font-size: var(--fs-mega);
  color: var(--white);
  font-weight: 400;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.2rem;
}

.navbar-brand:hover {
  color: var(--red);
}

.form-inline {
  display: block;
  margin-bottom: 50px;
}

.search {
  border-radius: 0;
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--black);
  border-radius: 8px;
  text-align: center;
}

.search::-webkit-input-placeholder {
  color: var(--white);
  opacity: 2;
  font-style: italic;
}

.search::-moz-placeholder {
  color: var(--white);
  opacity: 2;
  font-style: italic;
}

.search:-ms-input-placeholder {
  color: var(--white);
  opacity: 2;
  font-style: italic;
}

.search::-ms-input-placeholder {
  color: var(--white);
  opacity: 2;
  font-style: italic;
}

.search::placeholder {
  color: var(--white);
  opacity: 2;
  font-style: italic;
}

 /* main
---------------------------------- */

.pokeball {
  display: block;
  width: 25%;
  height: auto;
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto;
}

.pokemon-list {
  border: none;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  text-align: center;
  padding: 30px;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.btn-pokemon {
  width: 100%;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.1rem;
  list-style-type: none;
  font-size: var(--fs-base);
  font-weight: 400;
  color: var(--white);
  background: var(--red);
  text-transform:capitalize;
  -webkit-box-shadow: 5px 5px var(--white);
          box-shadow: 5px 5px var(--white);
  padding: 30px 30px;
  border-radius: 0px;
}

.btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
  background-color: var(--green);
  color: var(--white);
  border: solid 2px var(--white);
}

 /* pokemon modal
---------------------------------- */

.modal-content {
  color: var(--black);
  font-size: 80%;
  font-family: inherit;
  -webkit-box-shadow: 10px 10px var(--yellow);
          box-shadow: 10px 10px var(--yellow);
  background-color: lightgray;
  padding:0px 20px;
}

.modal-header {
  background-color:lightgray;
}

.modal h1 {
  text-transform: capitalize;
  color: var(--black);
}

.modal p {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.modal img {
  display: block;
  margin: 30px auto;
  width: 30%;
  height: auto;
} 

.btn-modal {
  background-color: var(--yellow);
  color:var(--white);
  text-transform: uppercase;
  font-size: 50%;
}

 /* footer
---------------------------------- */

footer {
  padding: 50px 20px;
  text-align: center;
  color: var(--white);
  line-height: 1.2em;
  font-size: var(--fs-milli);
}

footer a {
  color: var(--white);;
  text-decoration: underline;
}

footer a:hover {
  color: var(--red);
}