
/* basics
---------------------------------- */

:root {
  box-sizing: border-box;
  --color-canvas: #fffffe;
  --color-cards: #f0e2e1;
  --color-brand-primary:#4fc4cf;
  --color-brand-secondary:#994ff3;
  --color-brand-tertiary: #fbdd74;
  --color-text-primary: #000;
  --color-text-inverted: #fff;

  --font-size-micro: 16px;
  --font-size-milli: 18px;
  --font-size-base: 20px;
  --font-size-kilo: 24px;
  --font-size-mega: 60px;

  --font-weight-base: 400;
  --font-weight-kilo: 700;

  --line-height-base: 1.6;

  --max-width-milli: 400px;
  --max-width-base: 700px;
  --max-width-kilo: 1200px;
 }

body {
  background-color: var(--color-canvas);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text-primary);
  margin: 50px; 
}

 /* header 
---------------------------------- */

h1 {
  font-size: var(--font-size-mega);
  color: var(--color-text-inverted);
  text-align: center;
  font-weight: var(--font-weight-kilo);
  -webkit-text-stroke: 3px var(--color-text-primary);
}

 /* hero image
---------------------------------- */

.pokeball {
  display: block;
  width: 20%;
  height: auto;
  margin: 0 auto;
  min-width: 250px;
  max-width: 600px;
  margin-top: -20px;
}

 /* main
---------------------------------- */

.pokemon-list {
    padding: 25px 0 50px 0;
    list-style: none;
    /*----Start grid fallback----*/
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    /*----End grid fallback----*/
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.button-class {
  font-family: inherit;
  width: 100%;
  list-style-type: none;
  padding: 30px;
  border-radius: 2px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-kilo);
  margin-bottom: 20px;
  border: 3px solid var(--color-text-primary);
  color: var(--color-text-primary);
  background-color: var(--color-brand-primary);
  box-shadow: 2px 2px 2px var(--color-text-primary);
}

.button-class:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--color-brand-secondary);
  color: var(--color-text-inverted);
  box-shadow: 2px 2px 2px var(--color-text-primary);
  border-color: var(--color-text-primary);
}

.button-class:active {
  transform: scale(1.1);
  background-color: var(--color-brand-primary);
  color: var(--color-text-primary);
  box-shadow: 2px 2px 2px var(--color-text-primary);
  border-color: var(--color-text-primary);
  opacity: .7;
}

 /* responsive
---------------------------------- */

@media all and (max-width: 1080px) {
  .pokemon-list{
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

@media all and (max-width: 576px) {
  .pokemon-list{
      flex-direction: column;
      grid-template-columns: 1fr;
      gap: 25px;
    }
  .button-class {
    padding: 20px;
  }
}