
/* basics
---------------------------------- */

:root {
  box-sizing: border-box;
  --c-primary: #084152;
  --c-secondary: #242629;
  --c-tertiary: #f25f4c;
  --c-text: #fff;

  --fs-micro: 16px;
  --fs-milli: 18px;
  --fs-base: 24px;
  --fs-kilo: 24px;
  --fs-mega: 90px;
 }

body {
  background: var(--c-primary);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.6;
  color: var(--c-text);
}

 /* header 
---------------------------------- */

h1 {
  font-size: var(--fs-mega);
  color: var(--c-text);
  text-align: center;
  font-weight: 400;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.2rem;
}

.pokeball {
  display: block;
  width: 25%;
  height: auto;
  min-width: 250px;
  max-width: 600px;
  margin: -30px auto 30px auto;
}

 /* main
---------------------------------- */

.pokemon-list-container {
  display: block;
  background-color: var(--c-secondary);
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.pokemon-list {
  list-style: none;
  /*----Start grid fallback----*/
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  /*----End grid fallback----*/
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 50px;
  padding: 60px;
}

.button-class {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.1rem;
  width: 100%;
  list-style-type: none;
  padding: 70px;
  font-size: var(--fs-base);
  font-weight: 400;
  color: var(--c-text);
  border: none;
  background: var(--c-tertiary);
  text-transform:capitalize;
  box-shadow: 5px 5px var(--c-text);
}

.button-class:hover {
  cursor: pointer;
  transform: scale(1.07);
  background-color: var(--c-primary);
  color: var(--c-text);
}

 /* responsive
---------------------------------- */

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) and (max-width: 1024px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}